@charset "UTF-8";


*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}


img{
    width: 99.2vw;
}


a{
    display: block;
    background-color: darkred;
    color: white;
    padding: 40px;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    font-size: 2em;
}
a:hover{
    background-color: rgb(209, 0, 0);
    transition-duration: .7s;
    text-decoration: underline;
    text-shadow: 1.5px 1.5px 1.5px rgba(0, 0, 0, 0.61);
}